<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>
        Welcome to the Page
    </h1>
<div>
    <h1>sign up</h1>
    <form action="/users/register" method="post">
        <input type="text" placeholder="name">
        <input type="text" placeholder="email">
        <input type="text" placeholder="password">
        <input class="hover:bg-blue-500" type="submit" value="cretae your account">
        </form>
        </div>
        <div>
    <h1>log in</h1>
    <form action="">
        
        <input type="text" placeholder="email">
        <input type="text" placeholder="password">
        <input class="hover:bg-blue-500" type="submit" value="login">

        </form>

    </div>
</body>
</html>